<% provide(:title, "Tour") %>
<% @page = "tour" %>
<style>
body {
    background-image: url(<%= image_path('mountain.jpg')%>);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>



<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="links">
    <%= link_to image_tag("gallery/thumb/back1500.jpg", alt: "Back of House"),
        image_path("gallery/back1500.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/houseside.jpg", alt: "Side of House"),
        image_path("gallery/houseside.jpg"), "data-gallery" => "" %>
    
    <%= link_to image_tag("gallery/thumb/porch1.jpg", alt: "Farmer's Porch"), image_path("gallery/porch1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/aboutback.jpg", alt: "Great Room"),
    image_path("gallery/aboutback.jpg"), "data-gallery" => "" %>


    <%= link_to image_tag("gallery/thumb/mountain.jpg", alt: "Mountain View"), image_path("gallery/mountain.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/kitchen1.jpg", alt: "Mountain View"),
        image_path("gallery/kitchen1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/kitchen2.jpg", alt: "Kitchen"), image_path("gallery/kitchen2.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/kitchen3.jpg", alt: "Kitchen"), image_path("gallery/kitchen3.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/dining1.jpg", alt: "Dining Room"), image_path("gallery/dining1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/2bath1.jpg", alt: "Bathroom"), image_path("gallery/2bath1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/masterbed.jpg", alt: "Master Bed"), image_path("gallery/masterbed.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/master2.jpg", alt: "Master Bed"), image_path("gallery/master2.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/masterbath1.jpg", alt: "Master Bath"), image_path("gallery/masterbath1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/railings.jpg", alt: "Loft"), image_path("gallery/railings.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/stairs1.jpg", alt: "Stairs"), image_path("gallery/stairs1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/loft2.jpg", alt: "Loft"), image_path("gallery/loft2.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/2bed.jpg", alt: "Guest Bed"), image_path("gallery/2bed.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/3bath2.jpg", alt: "Guest Bath"), image_path("gallery/3bath2.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/3bath3.jpg", alt: "Guest Bath"), image_path("gallery/3bath3.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/mud1.jpg", alt: "Mud Room"), image_path("gallery/mud1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/guest1.jpg", alt: "Guest House"), image_path("gallery/guest1.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/2kitchen.jpg", alt: "Guest Kitchen"), image_path("gallery/2kitchen.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/guest3.jpg", alt: "Guest Bedroom"), image_path("gallery/guest3.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/guest4.jpg", alt: "Guest Bedroom"), image_path("gallery/guest4.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/guest6.jpg", alt: "Guest House"), image_path("gallery/guest6.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/guest5.jpg", alt: "Guest Bath"), image_path("gallery/guest5.jpg"), "data-gallery" => "" %>

    <%= link_to image_tag("gallery/thumb/deer.jpg", alt: "Deer on Property"), image_path("gallery/deer.jpg"), "data-gallery" => "" %>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>
<script src="jquery.min.js" type="text/javascript"></script>

<% #TODO Add descriptions to the photos. %>







